@import "../home-page/home-page.css";

.products {
    display: grid;
    grid-template-columns: 16rem 1fr;
    grid-template-rows: 4rem calc(100vh - 4rem);
    grid-template-areas:
        "header header"
        "aside main";
    min-height: 100vh;
}

aside {
    grid-area: aside;
}

.products main {
    grid-area: main;
    margin-bottom: 1rem;
    padding: 0rem 1rem 1rem 1rem;
    overflow-y: scroll;
}

.products .navbar {
    width: 100vw;
}


header nav {
    width: 100%;
}

.card--vertical {
    max-width: 17rem;
}

.card--horizontal {
    max-width: 35rem;
}

.filters .filters--spacing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.filters .clear-all {
border: none;
background-color: white;
padding: 0px;
min-width: 0px;
/* width: 0px; */
}

.filters .clear-all:hover {
background-color: white;
min-width: 0px;
color: var(--BLACK);
}
.filters .filters--spacing h3 {
margin-bottom:0px;
}

.filters__range {
    width: 100%;
}

.filters h3 {
    font-weight: 600;
    margin-bottom: 1rem;
}


.filters input {
    margin-right: 8px;
}

.filters ul {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
}

.card__body {
   padding: 1.5px;
}

.card__rating {
    background-color:#ff0000a1;
    border: 1px solid transparent;
    padding: 2px;
    display: flex;
    justify-content: center;
    color: white;
    width: 20%;
    position: absolute;
    bottom: 10px;
}

.btn {
    padding: 0.6rem;
    font-size: 0.8rem;
}

.sidebar ul li {
font-size: 1.2rem;
}

.card__badge figure span{
border: 1px solid transparent;
border-radius: 0px;
}
